.hero{
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;

}
.outer{
    height: 18.75rem;
    width: 18.75rem;
    display: grid;
    align-items: end;
    background-color: blue;
    transform-style:preserve-3d;
    transform: perspective(125rem);    
}
.inner{
    width: fit-content;
    color: black;
    font-weight: bold;
    transform: translateZ(1.25rem) translateX(-3.125rem);
    padding-bottom: 1.25rem;
}
.inner h1{
    padding-bottom:.625rem;
}
.inner p{
    padding-top: .625rem;
}
.inner hr{
    background-color: black;
}